{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {ignoreComments: true}],
    "indent": ["error", 2, {ignoreComments: true}],
    "semi": ["error", "never"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "prefer-arrow-callback": ["error", { "allowUnboundThis": false }],
    "arrow-spacing": "error",
    "eol-last": ["error", "always"],
    "react/prop-types": [2, { skipUndeclared: false }],
    "react/require-default-props": [2, { forbidDefaultForRequired: true }]
  }
}